	<div class="container">
		<div class="CajaInicio animated bounceInRight">
			<h1> ALTA PERSONA </h1>

			<form name="FormIngreso" id="FormIngreso"  enctype="multipart/form-data" novalidate >
				<label  >visualizador</label>
				<input type="checkbox" ng-model="verdatos" value="verdatos"> <br>
				<label  >Form válido: {{!FormIngreso.$invalid}}</label> <br>

				<label  >Apellido:</label><br>
				<input type="text" name="apellido" ng-model="persona.apellido" placeholder="ingrese apellido" value=""  required/>
				<span id="lblApellido" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*
				</span><br>

				<label  >Nombre:</label><br>
				<input type="text"  ng-model="persona.nombre" placeholder="ingrese nombre" value="" required/> <span id="lblNombre" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span><br>

				<label  >Edad:</label><br>
				<input type="number"  ng-model="persona.edad" placeholder="ingrese edad" value="" required/> 
				<span id="lblDni" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span><br>


				<label  >sexo:</label><br>
				 <input type="radio" ng-model="persona.sexo" value="Masculino" required><label  >Masculino</label> 
				 <input type="radio" ng-model="persona.sexo" value="Femenino" required> <label  >Femenino</label>
				 <input type="radio" ng-model="persona.sexo" value="other" required><label  >Otro</label><br>


				<label  >Dni:</label><br>
				<input type="number" name="dni" ng-model="persona.dni" placeholder="ingrese dni" value=""  required/> 
				<span id="lblDni" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span><br>

				<label  >mail:</label><br>
				<input type="email"  ng-model="persona.correo" placeholder="ingrese correo electronico" required/> 
				<span ng-if="">*</span><br>
			
				<input type="hidden" name="idOculto" id="id" value="" />

				<!--
				<input type="file" name="foto" id="foto" ng-model="persona.foto"/>

				
				<img  src="fotos/pordefecto.png" class="fotoform" id="foto"/>
				<p style="  color: black;">*La foto se actualiza al guardar.</p>
				-->

				<div>
    <h3>Select files</h3>
    Multiple
    <!--<div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }"> -->
    <div nv-file-drop="" uploader="uploader">
        <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
            Another drop zone with its own settings
        </div>
    </div>
</div>

<div >
    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader.queue.length }}</p>

<table class='table table-hover table-responsive' align="center">
    <thead>
        <tr>
            <th >Name</th>
            <th ng-show="uploader.isHTML5">Size</th>
            <th ng-show="uploader.isHTML5">Progress</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in uploader.queue">
            <td>
              <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
            </td>
            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td ng-show="uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
            </td>
            <td class="text-center">
                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
            </td>
        </tr>
    </tbody>
</table>



				<a class="btn btn-info " ng-disable="FormIngreso.$invalid" ng-click="Guardar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</a>
					
				<input type="hidden" value="" id="idParaModificar" name="agregar" />
				<input type="hidden" value="" id="hdnAgregar" name="agregar" />
				

			</form>
	</div>
	</div>
