	<div class="container">
		<div class="page-header">
			<center> <h1>Datos {{DatoTest}}</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1> titulo </h1>

			<form name="FormIngreso" id="FormIngreso"  enctype="multipart/form-data" novalidate >
				<label  >visualizador</label>
				<input type="checkbox" ng-model="verdatos" value="verdatos"> <br>
				<label  >Form válido: {{!FormIngreso.$invalid}}</label> <br>

				<label  >Apellido:</label><br>
				<input type="text" name="apellido" ng-model="persona.apellido" placeholder="ingrese apellido" value=""  required/>
				<span id="lblApellido" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*
				</span><br>

				<label  >Nombre:</label><br>
				<input type="text"  ng-model="persona.nombre" placeholder="ingrese nombre" value="" required/> <span id="lblNombre" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span><br>

				<label  >Edad:</label><br>
				<input type="number"  ng-model="persona.edad" placeholder="ingrese edad" value="" required/> 
				<span id="lblDni" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span><br>


				<label  >sexo:</label><br>
				 <input type="radio" ng-model="persona.sexo" value="Masculino" required><label  >Masculino</label> 
				 <input type="radio" ng-model="persona.sexo" value="Femenino" required> <label  >Femenino</label>
				 <input type="radio" ng-model="persona.sexo" value="other" required><label  >Otro</label><br>


				<label  >Dni:</label><br>
				<input type="number" name="dni" ng-model="persona.dni" placeholder="ingrese dni" value=""  required/> 
				<span id="lblDni" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span><br>

				<label  >mail:</label><br>
				<input type="email"  ng-model="persona.correo" placeholder="ingrese correo electronico" required/> 
				<span ng-if="">*</span><br>
			
				<input type="hidden" name="idOculto" id="id" value="" />
				<!--
				<input type="file" name="foto" />


				<img  src="fotos/pordefecto.png" class="fotoform" id="foto"/>
				<p style="  color: black;">*La foto se actualiza al guardar.</p>
				-->

				<a class="btn btn-info " ng-disable="FormIngreso.$invalid" ng-click="Guardar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</a>
					
				<input type="hidden" value="" id="idParaModificar" name="agregar" />
				<input type="hidden" value="" id="hdnAgregar" name="agregar" />
				

			</form>
	</div>
	</div>
